{{! The big featured header }}
<div class="clearfix hero-outer">
	<div class="left tagline-outer" style="background-image: url({{cover}})">
		<div class="tagline-inner">
			<span class="label">Node + relational databases</span>
			<p class="title tagline">Fast, reliable apps with maximum developer happiness</p>
		</div>
	</div>

	<div class="right newsletter-outer">
		<div class="newsletter-inner">
			<h4 class="title">Subscribe.</h4>
			<p class="description">Get our best articles directly to your inbox. No spam, pinky swear.</p>
			
			{{> mailchimp}}
		</div>
	</div>
</div>
