<div class="main-outer">
	<div class="main-inner">
		<article class="{{post_class}} post clearfix" itemscope itemtype="http://schema.org/BlogPosting">
			<h2 class="wrapper-m title post-title" itemprop="headline">{{title}}</h2>

			<section class="clearfix wrapper-m post-body">
				{{{ content }}}
			</section>
		</article>
	</div>
</div>
